<div class="content is-small">
  <%= routine_presenter.add_steps_link %>
  <span>·</span>
  <%= routine_presenter.edit_routine_link %>
  <span>·</span>
  <%= routine_presenter.delete_link %>
  <p></p>
</div>