<nav class="level">
  <div class="level-left">
    <div class="level-item">
      <p id="routine-count" class="title">
        <%= @routines.size %></strong> <%= "Routine".pluralize(@routines.size) %>
      </p>
    </div>
    <p class="level-item">
      <%= link_to 'Add New Routine', url_for(action: 'new'), class: "button is-success" %>
    </p>
  </div>
</nav>