<div class="box upcoming-flow-step">
  <article class="media" style="align-items: center;">
    <div class="media-left">
      <figure class="image is-32x32">
        <%= image_tag 'dart.png' %>
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <div class="level-left" style="align-items: baseline;">
            <p class="is-size-5"><%= flow_step.title %></p>
        </div>
      </div>
    </div>
  </article>
</div>