<div id="flashes">
  <% if notice.present? %>
    <p class="notification is-success"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
    <p class="notification is-danger"><%= alert %></p>
  <% end %>
</div>
<br>