<nav class="navbar has-shadow">
  <div class="navbar-brand">
    <a class="navbar-item">
      <%= image_tag 'request.png' %>
    </a>
    <div class="navbar-burger burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        <div>
          <!-- <img src="images/request.png" height="21">
          <br> -->
          <small>Next step in focus</small>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-link">
          <%= current_user.email %>
        </div>
        <div class="navbar-dropdown is-right">
          <a class="navbar-item">
            <div>
              <span class="icon is-small">
                <i class="fa fa-user-circle-o"></i>
              </span>
              Profile
            </div>
          </a>
          <a class="navbar-item">
            <div>
              <span class="icon is-small">
                <i class="fa fa-bug"></i>
              </span>
              Report bug
            </div>
          </a>

          <%= link_to destroy_user_session_path, method: :delete, class: 'navbar-item' do %>
            <div>
              <span class="icon is-small">
                <i class="fa fa-sign-out"></i>
              </span>
              Sign Out
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>