<nav class="level">
  <div class="level-left">
    <div class="level-item">
      <p id="step-count" class="subtitle is-5">
        <strong><%= steps.size %></strong> <%= "step".pluralize %>
      </p>
    </div>
    <p class="level-item">
      <%= link_to 'Add New Step', url_for(action: 'new'), class: "button is-success" %>
    </p>
  </div>
</nav>
