<section class="section">
  <div class="columns">
    <div class="column">
      <nav class="breadcrumb">
        <ul>
          <li>
            <%= link_to "Routines", routines_path %>
          </li>
          <li>
            <%= link_to "#{@routine.title} - Steps", routine_steps_path(@routine) %>
          </li>
          <li class="is-active">
            <a href="#">Edit</a>
          </li>

        </ul>

      </nav>

      <div class="column is-8-tablet is-6-desktop is-6-widescreen">
        <%= render 'form', routine: @routine, step: @step %>
      </div>
    </div>
  </div>
</section>
