<section class="section">
  <div class="columns">
    <div class="column">
      <h1 class="title ">Title of the Routine - Steps</h1>

      <%= render "top_stuff", steps: @steps %>

      <div>
        <%= render @steps, routine: @routine %>
      </div>
    </div>
  </div>
</section>
